.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav_list {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0.5%;
  flex-direction: row;
  padding: 2px;
  height: 25%;
  background-color: black;
  color: white;
  float: left;
  width: 100%;
  position: relative;
  max-width: auto;
  justify-content: space-evenly;
}
.nav_item {
  display: inline;
  padding-left: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-bottom: darkgray;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: white;
  max-width: 30px;
}

.Article_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
  padding: 3%;
}
.news_feeds {
  color: #b31616;
}
.Article_card {
  border: rgb(154, 86, 124);
  border-style: none;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 5px;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 40px 0px;
  background-color: #6149900d;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
  border-width: 80%;
}
